.ipynb_checkpoints
.vscode
.DS_Store
__pycache__
boda.egg-info
build
dist
tests
misc
doc
boda/models/cascade_mask_rcnn/
boda/models/efficientdet/
boda/models/faster_rcnn/
boda/models/fcos/
boda/models/keypoint_rcnn/
boda/models/mask_rcnn/
boda/models/polarmask/
boda/models/solov1/
boda/models/yolact_edge/
boda/models/yolov4/

# boda/ops/

benchmarks/data/
benchmarks/*pth
benchmarks/samples/
benchmarks/dataset/
benchmarks/benchmark_yolov1.py
benchmarks/benchmark_backbone.py

boda/dev/
dev/
old/
cache/

run.py
test_ssd.py
test_yolov1.py
test_yolact.py
test_solov1.py
test_fcos.py
test_backbone.py
test_centermask.py
eval_yolact.py
test_faster_rcnn.py
test_mask_rcnn.py
test_keypoint_rcnn.py

logo.pptx
*.pth
*.zip
*.jpg