.ipynb_checkpoints/
.vscode/
.DS_Store/
__pycache__/

misc/
misc/yolov1/testimg/
misc/yolov2/demo/
misc/yolov3/data/custom/
misc/yolov3/data/samples/
misc/yolov3/assets/
misc/ssd500/img/
misc/ssd300/doc/
misc/retinanet/images/

benchmarks/data/
benchmarks/*pth
benchmarks/samples/
benchmarks/dataset/

doc/

boda/__pycache__/
boda/models/__pycache__/
boda/lib/__pycache__/
boda/experimental/__pycache__/
boda/tests/__pycache__/
boda/utils/__pycache__/
boda/dev/
boda/tests/yolact.pth
boda/tests/resnet50_550_coco_972_70000.pth
boda/tests/print_yolact.py

old/
cache/ 
# tests/

# test_yolact.py
run.py
logo.pptx
*.pth
test_ssd.py
test_yolov1.py
test_yolact.py
test_solov1.py
test_fcos.py
test_backbone.py
test_centermask.py

eval_yolact.py
# .gitignore
*.zip
*.jpg